.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.theme-slider {
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    position: relative;
    cursor: pointer;
}

.theme-slider::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

/* Position the slider to the right when dark mode is active */
.theme-slider.dark-mode::after {
    transform: translateX(26px);
    background-color: #66bb6a;
}